@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,700;0,800;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin-right: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: rgb(252, 210, 84);
  color: rgb(49, 163, 244);
  width: 100%;
  height: 100%;
}

.nav-link {
  display: flex;
  color: rgb(27, 128, 217);
  font-family: "Secular One", sans-serif;
  text-shadow: 0 0 7px rgb(21, 141, 201);
}

.logonav {
  width: 40px;
  height: 40px;
  margin: 40px;
}

.barra {
  float: right;
}

.barra ul {
  list-style: none;
}

.barra ul li {
  display: inline-block;
}

.barra a {
  text-decoration: none;
  color: rgb(25, 115, 200);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(26, 127, 199);
}

.barra a:hover {
  color: rgb(8, 216, 8);
  text-decoration: underline;
}

p {
  margin: 20px;
}

a {
  color: rgb(68, 170, 243);
}

.img.dueña {
  width: 340px;
  height: 500px;
  display: block;
  margin: 20px auto 0;
}

.contactos {
  margin: 35px;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.subir {
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: rgba(224, 231, 47, 0.516);
  border: 5px solid rgb(49, 167, 231);
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: rgba(185, 201, 43, 0.81);
  text-align: center;
  font-size: 15px;
  margin-bottom: 80px;
  border-radius: 100%;
  box-shadow: 0 0 15px rgba(218, 205, 63, 0.919);
  z-index: 10;
  margin-right: 35px;
}

h1 {
  color: rgb(37, 134, 232);
}

h2 {
  margin: 20px;
}

h5 {
  color: rgb(21, 134, 220);
  font-size: 16px;
}

.call p {
  font-size: 20px;
  margin-bottom: 30px;
}

.call a {
  background-color: rgb(21, 144, 220);
  width: 10px;
  color: white;
  margin: 10px;
  padding: 5px 20px;
}

.call a:hover {
  background-color: #222;
  text-shadow: 2px solid green;
  border: 2px solid green;
}

.caja {
  padding: 2px;
}

.form {
  color: rgb(64, 220, 21);
  height: 100%;
  width: 100%;
  margin: 20px;
  margin-right: 700px;
  margin-top: -10px;
}

.form input {
  width: 100px;
  color: white;
  background-color: black;
}

.form label {
  text-shadow: 0 0 5px rgb(26, 25, 25);
}

.mapa {
  margin-right: 50px;
  margin-top: 20px;
  margin: 32px;
}

.caja p {
  color: black;
  margin-top: 15px;
}

.footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.icon-under-carousel {
  position: sticky;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 200px;
}

.h4text {
  text-size-adjust: auto;
  margin: 20px;
}

@media only screen and (max-width: 767px) {
  .img.dueña {
    width: 350px;
    height: 450px;
    margin-bottom: 0px;
  }

  .card {
    flex: 1 0 calc(50% - 20px);
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .form {
    margin-right: 20px; /* Adjust as needed */
  }
}