* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin medidas ($widthitem, $hitem) {
    height: $hitem;
    width: $widthitem;
}

$color1:red;
$color_botonup:rgba(238, 22, 22, 0.274);
$color2: rgba(0, 128, 0, 0.368);
$color3: rgb(64, 220, 21);
$color4: green;
$color5:yellow;
$color6:orange;
$color7: white;
$color8:black;
$fontfamily1: 'Anton',
sans-serif;
$fontfamily2: 'Secular One',
sans-serif;
$widthitem:100px;
$hitem:100px;


@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');




.navbar {
    background-color: $color6;
    color: $color7;
    
    width: 100%;
    height: 100%;

}

.nav-link {
    display: flex;
    color: $color7;
    font-family: $fontfamily2;
    text-shadow: 0 0 7px $color3;

}

.logonav {
    width: 40px;
    height: 40px;
    margin: 40px;
    
}


.barra {
    float: right;
}

.barra ul {
    list-style: none;
}

.barra ul li {
    display: inline-block;
}

.barra a {
    text-decoration: none;
    color: $color3;
}

.barra a:hover {
    color: rgb(8, 216, 8);
    text-decoration: underline;
}

p {
    margin: 20px;
}

a {
    color: $color3;
}

main {
    height: 100vh;
    width: 100%;
    background-image: url(../images/studio2.jpg);
    background-position: left;
    background-size: cover;
}

.main2 {
    background-image: url(../images/polvo2.jpg);
    height: 100%;
    width: 100%;
}

.fon3 {
    background-image: url(../images/polvo.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.subir {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: rgba(237, 192, 28, 0.516);
    border: 5px solid $color4;
    position: fixed;
    right: 20px;
    bottom: 40px;
    color: $color3;
    text-align: center;
    font-size: 15px;
    margin-bottom: 80px;
    border-radius: 100%;
    box-shadow: 0 0 15px $color3;
    z-index: 10;
    margin-right: 35px;
}

.call {
    color: $color7;
    font-family: $fontfamily1;
    letter-spacing: 0.5px;
    float: left;
    background-color: rgba(0, 0, 0, 0.319);
    padding: 20px;
    text-shadow: 0 0 5px $color7;
    border: 2px solid $color3;
    margin: 30px;
    width: auto;
    background-color: rgba(2, 2, 2, 0.5098039216);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


h1 {
    color: $color3;
}

h2 {
    margin: 20px;
}

h5 {
    color: $color3;
    font-size: 16px;
}

.call p {
    font-size: 20px;
    margin-bottom: 30px;
}

.call a {
    background-color: $color3;
    width: 10px;
    color: $color7;
    margin: 10px;
    padding: 5px 20px;
}

.call a:hover {
    background-color: #222;
    text-shadow: 2px solid $color4;
    border: 2px solid $color4;
    ;
}

.foto1 {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/foto1.jpg);
    background-size: cover;
    border: 1px solid $color3;
}

.foto2 {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/foto2.jpg);
    background-size: cover;
    border: 1px solid $color3;
}
.foto3 {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/foto3.jpg);
    background-size: cover;
    border: 1px solid $color3;
}

.foto4 {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/foto4.jpg);
    background-size: cover;
    border: 1px solid rgb(64, 220, 21);
}

/*index arriba / sobre nosotros abajo y servicios*/
.caja {


    padding: 2px;
}
.form {
    color: $color3;
    height: 100%;
    width: 100%;
    margin: 20px;
    margin-right: 700px;
    margin-top: -10px;
}

.form input {
    width: 100px;
    color: $color7;
    background-color: $color8;

}

.form label {
    text-shadow: 0 0 5px rgb(26, 25, 25);
}
.mapa{
    margin-right: 50px;
    margin-top: 20px;
}
.caja p {
    color: $color8;
    margin-top: 5px;
    margin: 10px;
}

table td {
    width: 120px;
    height: 120px;
    color: $color3;
    margin-right: 110px;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.tablecel {
    margin-left: 25px;
    

}


.texto1 {
    color: $color7;
    margin: auto;
    padding: 1%;
}

.titulo2 {
    color: rgb(64, 242, 9);
    margin: 20px;
}


.titulo2:hover {
    color: $color1;
    padding: 0%;
}

.inspira {
    color: $color8;
    margin: 20px;

}
.inspira strong{
    color: $color3;
    margin-top: -20px;
}

footer {
    color: rgb(64, 242, 9);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    position: relative;
}

.redes {
    font-size: 50px;
    letter-spacing: 10px;
}

.redes a {
    color: $color7;
    align-content: space-evenly;
    padding: 10px;
}

.video {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 20px;
    margin-left: 4px;
    margin-top: 27px;
}
.fondog{
    background-image: url(../images/galaxy.jpg);
    background-size:cover;
}
.imagesContenedor {
    height: auto;
    width: 100%;
    
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas de 1 fr - EL REPEAT SIEMPRE PEGADO AL () */
    grid-template-rows: repeat(3, 200px);
    /* 3 filas , de 200px*/
    grid-template-areas: "item1 item2 item3 item3"
        "item1 item4 item5 item6"
        "item7 item7 item8 item8";
    grid-gap: 20px;
    padding: 20px;
}

.item {

    border: 2px solid $color7;
    border-radius: 20px;
}

.item1 {
    grid-area: item1;
    background-image: url(../images/maquina.jpg);
    background-size: contain;
    background-position: center;
}

.item2 {
    grid-area: item2;
    background-image: url(../images/studio2.jpg);
    background-size: cover;
    background-position: center;

}

.item3 {
    grid-area: item3;
    background-image: url(../images/mic.jpg);
    background-size: cover;
    background-position: center;

}

.item4 {
    grid-area: item4;
    background-image: url(../images/yamaha.jpg);
    background-size: cover;
    background-position: center;
    width: -200px;
    height: 200px;
}

.item5 {
    grid-area: item5;
    background-image: url(../images/amek.jpg);
    background-size: cover;
    background-position: center;

}

.item6 {
    grid-area: item6;
    background-image: url(../images/studio.jpg);
    background-size: cover;
    background-position: center;
}

.item7 {
    grid-area: item7;
    background-image: url(../images/studio2.jpg);
    background-size: auto;
    background-position: center;
}

.item8 {
    grid-area: item8;
    background-image: url(../images/home1.jpg);
    background-size: cover;
    background-position: center;
}


@media only screen and(max-width:480px) {


    .navbar {
        background-color: $color8;
        color: $color7;
        
        width: 100%;
        height: 100%;
    }

    .nav-link {
        display: flex;
        color: $color7;
        font-family: $fontfamily2;
        text-shadow: 0 0 7px $color3;
    }

    .logonav {
        width: 40px;
        height: 40px;
        margin: 40px;
        margin-left: -4px;
    }

    main {
        height: 100vh;
        width: auto;
        background-image: url(../images/studio2.jpg);
        background-position: left;
        background-size: cover;
    }

    .foto1 {
        display: flex;
        width: auto;

        background-image: url(../images/foto1.jpg);
        background-size: cover;
        border: 1px solid $color3;
    }

    .foto2 {
        display: flex;
        width: 100%;
        height: 500px;
        background-image: url(../images/foto2.jpg);
        background-size: cover;
        border: 1px solid rgb(64, 220, 21);
    }
    .foto3 {
        display: flex;
        width: auto;

        background-image: url(../images/foto3.jpg);
        background-size: cover;
        border: 1px solid $color3;
    }

    .foto4 {
        display: flex;
        width: 100%;
        height: 500px;
        background-image: url(../images/foto4.jpg);
        background-size: cover;
        border: 1px solid rgb(64, 220, 21);
    }

    .form {
        color: $color3;
        height: 100%;
        width: auto;
        margin: 20px;
        margin-right: 700px;
        margin-top: -10px;
    }

    .form input {
        
        color: $color7;
        background-color: $color8;

    }

    .form label {
        text-shadow: 0 0 5px rgb(26, 25, 25);
    }

    .tablecel {
        margin-right: 65px;
    }
    .mapa{
        margin-left: 150px;
}
    .video {
        display: flex;
        width: 100%;
        /* height: auto; */
        margin: 20px;
        margin-left: 4px;
        margin-top: 27px;
    }

    h1 {
        color: $color3;
    }

    .call {
        display: inline;
        color: $color3;
        font-family: $fontfamily1;
        font-size: 16px;
        letter-spacing: 0.5px;
        float: left;
        background-color: rgba(2, 2, 2, 0.5098039216);
        padding: 20px;
        text-shadow: 0 0 5px $color7;
        border: 2px solid $color3;
        margin: 18px;
        background-color: #020202;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .call p {
        font-size: 20px;
        margin: 5px;
        margin-bottom: 70px;
        color: $color7;
    }

    .call a {
        background-color: rgb(64, 220, 21);
        width: 10px;
        color: white;
        margin: 10px;
        padding: 5px 20px;
    }

    .call a:hover {
        background-color: #222;
        text-shadow: 2px solid $color4;
        border: 2px solid $color4;
    }

    .logonav {
        margin-left: -20px;
    }

    .subir {
        height: 40px;
        width: 40px;
        padding: 2%;
        background-color: rgba(64, 220, 21, 0.516);
        border: 5px solid $color4;
        position: fixed;
        right: 20px;
        bottom: 20px;
        color: $color3;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        border-radius: 100%;
        box-shadow: 0 0 15px $color3;
        z-index: 10;
        margin-right: 8px;

    }

    .fon3 {
        width: 100%;
        height: 100%;
        background-image: url(../images/polvo2.jpg);
    }

    .imagesnleft {
        background-size: cover;
    }

    .imagesContenedor {
        height: auto;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* 4 columnas de 1 fr - EL REPEAT SIEMPRE PEGADO AL () */
        grid-template-rows: 1fr;
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8";

        margin-left: 20px;
        grid-gap: 4px;
    }

    .item {

        border: solid rgba(20, 205, 45, 0.499);
        margin: 2px;
        animation-name: efecto;
        animation-iteration-count: 2;
        animation-timing-function: ease-in;
        animation-duration: 5s;
    }

    .item1 {
        @include medidas(240px, 250px);
        grid-area: item1;
        background-image: url(../images/maquina.jpg);
        background-size: cover;
        background-position: center;
    }

    .item2 {
        @include medidas(240px, 250px);
        grid-area: item2;
        background-image: url(../images/studio2.jpg);
        background-size: cover;
        background-position: center;

    }

    .item3 {
        @include medidas(240px, 250px);
        grid-area: item3;
        background-image: url(../images/mic.jpg);
        background-size: cover;
        background-position: center;

    }

    .item4 {
        @include medidas(240px, 250px);
        grid-area: item4;
        background-image: url(../images/yamaha.jpg);
        background-size: cover;
        background-position: center;
    }

    .item5 {
        @include medidas(240px, 250px);
        grid-area: item5;
        background-image: url(../images/amek.jpg);
        background-size: cover;
        background-position: center;

    }

    .item6 {
        @include medidas(240px, 250px);
        grid-area: item6;
        background-image: url(../images/studio.jpg);
        background-size: cover;
        background-position: center;
    }

    .item7 {
        @include medidas(240px, 250px);
        grid-area: item7;
        background-image: url(../images/studio2.jpg);
        background-size: cover;
        background-position: center;
    }

    .item8 {
        @include medidas(240px, 250px);
        grid-area: item8;
        background-image: url(../images/guitars.jpg);
        background-size: cover;
        background-position: center;
    }
.mapa{
        margin-left:-5px;
}
}


@media only screen and(max-width:320px) {
  

    .navbar {
        background-color: $color8;
        color: $color7;
        
        width: 100%;
        height: 100%;
    }

    .nav-link {
        display: flex;
        color: $color7;
        font-family: $fontfamily2;
        text-shadow: 0 0 7px $color3;
    }

    .logonav {
        width: 40px;
        height: 40px;
        margin: 20px;
        margin-left: -4px;
          }

    main {
        height: 100vh;
        width: auto;
        background-image: url(../images/studio2.jpg);
        background-position: left;
        background-size: cover;
    }

    .foto1 {
        display: flex;
        width: auto;

        background-image: url(../images/foto1.jpg);
        background-size: cover;
        border: 1px solid $color3;
    }

    .foto2 {
        display: flex;
        width: 100%;
        height: 500px;
        background-image: url(../images/foto2.jpg);
        background-size: cover;
        border: 1px solid rgb(64, 220, 21);
    }
    .foto3 {
        display: flex;
        width: auto;

        background-image: url(../images/foto3.jpg);
        background-size: cover;
        border: 1px solid $color3;
    }

    .foto4 {
        display: flex;
        width: 100%;
        height: 500px;
        background-image: url(../images/foto4.jpg);
        background-size: cover;
        border: 1px solid rgb(64, 220, 21);
    }

    .form {
        color: $color3;
        height: 100%;
        width: auto;
        margin: 20px;
        margin-right: 700px;
        margin-top: -10px;
    }

    .form input {
        
        color: $color7;
        background-color: $color8;

    }

    .form label {
        text-shadow: 0 0 5px rgb(26, 25, 25);
    }

    .tablecel {
        margin-right: 65px;
    }
    .mapa{
        margin-left: 150px;
}
    .video {
        display: flex;
        width: 100%;
        /* height: auto; */
        margin: 20px;
        margin-left: 4px;
        margin-top: 27px;
    }

    h1 {
        color: $color3;
    }

    .call {
        display: inline;
        color: $color3;
        font-family: $fontfamily1;
        font-size: 16px;
        letter-spacing: 0.5px;
        float: left;
        background-color: rgba(2, 2, 2, 0.5098039216);
        padding: 20px;
        text-shadow: 0 0 5px $color7;
        border: 2px solid $color3;
        margin: 18px;
        background-color: #020202;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .call p {
        font-size: 20px;
        margin: 5px;
        margin-bottom: 70px;
        color: $color7;
    }

    .call a {
        background-color: rgb(64, 220, 21);
        width: 10px;
        color: white;
        margin: 10px;
        padding: 5px 20px;
    }

    .call a:hover {
        background-color: #222;
        text-shadow: 2px solid $color4;
        border: 2px solid $color4;
    }

    .logonav {
        margin-left: -4px;
    }

    .subir {
        height: 40px;
        width: 40px;
        padding: 5px;
        background-color: rgba(231, 228, 41, 0.516);
        border: 5px solid rgb(81, 168, 179);
        position: fixed;
        right: 20px;
        bottom: 40px;
        color: rgb(196, 216, 82);
        text-align: center;
        font-size: 15px;
        margin-bottom: 80px;
        border-radius: 100%;
        box-shadow: 0 0 15px rgba(208, 233, 44, 0.757);
        z-index: 10;
        margin-right: 15px;
    }

    .fon3 {
        width: 100%;
        height: 100%;
        background-image: url(../images/polvo2.jpg);
    }

    .imagesnleft {
        background-size: cover;
    }

    .imagesContenedor {
        height: auto;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* 4 columnas de 1 fr - EL REPEAT SIEMPRE PEGADO AL () */
        grid-template-rows: 1fr;
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8";

        margin-left: 20px;
        grid-gap: 4px;
    }

    .item {

        border: solid rgba(20, 205, 45, 0.499);
        margin: 2px;
        animation-name: efecto;
        animation-iteration-count: 2;
        animation-timing-function: ease-in;
        animation-duration: 5s;
    }

    .item1 {
        @include medidas(240px, 250px);
        grid-area: item1;
        background-image: url(../images/maquina.jpg);
        background-size: cover;
        background-position: center;
    }

    .item2 {
        @include medidas(240px, 250px);
        grid-area: item2;
        background-image: url(../images/studio2.jpg);
        background-size: cover;
        background-position: center;

    }

    .item3 {
        @include medidas(240px, 250px);
        grid-area: item3;
        background-image: url(../images/mic.jpg);
        background-size: cover;
        background-position: center;

    }

    .item4 {
        @include medidas(240px, 250px);
        grid-area: item4;
        background-image: url(../images/yamaha.jpg);
        background-size: cover;
        background-position: center;
    }

    .item5 {
        @include medidas(240px, 250px);
        grid-area: item5;
        background-image: url(../images/amek.jpg);
        background-size: cover;
        background-position: center;

    }

    .item6 {
        @include medidas(240px, 250px);
        grid-area: item6;
        background-image: url(../images/studio.jpg);
        background-size: cover;
        background-position: center;
    }

    .item7 {
        @include medidas(240px, 250px);
        grid-area: item7;
        background-image: url(../images/studio2.jpg);
        background-size: cover;
        background-position: center;
    }

    .item8 {
        @include medidas(240px, 250px);
        grid-area: item8;
        background-image: url(../images/guitars.jpg);
        background-size: cover;
        background-position: center;
    }
.mapa{
        margin-left:-5px;
}
}